<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>Display Name: {{user_data['display_name']}}</p>
    <p>Followers: {{ user_data['followers']['total'] }}</p>
    <p>Spotify URL: <a href="{{ user_data['external_urls']['spotify'] }}" target="_blank">Visit Spotify</a></p>
    <img src="{{ user_data['images'][0]['url'] }}" alt="User Image" width="64" height="64">
</body>
</html>